.header__background{
    /* Rectangle 1000828 */
    position: absolute;
    width: 100%;
    height: 804px;
    top: 0px;
    z-index: -1;
    /* Linear */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%);
    opacity: 0.22;
}
